.DS_Store
.idea
.vscode
.editorconfig
/node_modules/

/bitrix
/upload
/web.config
/.htaccess
/.htaccess.restore
/robots.txt
/urlrewrite.php
/bitrix/php_interface/dbconn.php
/novaya-stranitsa.php
# Exclude files ext
*.sql
*.tgz
*.tar.gz
*.tar
*.rar
*.zip
*.mp3
*.mp4
*.webm
*.mov
*.MOV
*.wav
*.flv
*.db
*.psd
*.pdf
*.doc
*.docx
*.txt
*.text
*.log
*.config
*.xml
*.tbk